{
  "openapi": "3.0.3",
  "info": {
    "title": "DataStream Public API",
    "description": "OData v4 API for querying environmental water quality data.",
    "version": "1.0.0",
    "license": { "name": "MIT", "url": "https://opensource.org/license/mit/" }
  },
  "servers": [
    {
      "url": "https://api.datastream.org/v1/odata/v4",
      "description": "production"
    },
    {
      "url": "https://api.qa.datastream.org/v1/odata/v4",
      "description": "testing"
    }
  ],
  "paths": {
    "/Metadata": {
      "get": {
        "operationId": "getMetadata",
        "summary": "Query dataset metadata",
        "security": [{ "apiKey": [] }],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "description": "Comma-delimited list of fields. Allowed: Id, DOI, Version, DatasetName, DataStewardEmail, DataCollectionOrganization, DataUploadOrganization, ProgressCode, MaintenanceFrequencyCode, Abstract, DataCollectionInformation, DataProcessing, FundingSources, DataSourceURL, OtherDataSources, Citation, Licence, Disclaimer, TopicCategoryCode, Keywords, CreateTimestamp, PublishedTimestamp, TemporalExtent. Default: all allowed fields.",
            "schema": { "type": "string" }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "OData filter expression. Filterable properties: DOI, LocationId, ActivityMediaName, ActivityGroupType, CharacteristicName, MonitoringLocationType, ActivityStartDateYear, ActivityStartYear, RegionId, Latitude, Longitude, LatitudeNormalized, LongitudeNormalized, DatasetName, CreateTimestamp. Operators: in, eq, lt, gt, lte, gte, ne, and.",
            "schema": { "type": "string" }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            }
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "description": "Return only the count of matching rows (an estimate for large counts).",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination, e.g. Id:1234. Use the Link header or @odata.nextLink from the previous response.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetMetadata" }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid query (unknown $select/$filter field, malformed expression, or unencoded reserved characters such as $ in parameter names)"
          },
          "401": { "description": "Missing API key" },
          "403": { "description": "Invalid API key" },
          "408": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          },
          "413": {
            "description": "Response too large — lower $top or $select fewer fields"
          },
          "429": {
            "description": "Too many requests — rate limit yourself (2 req/s, no parallel requests)"
          },
          "504": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          }
        }
      }
    },
    "/Locations": {
      "get": {
        "operationId": "getLocations",
        "summary": "Query monitoring locations",
        "security": [{ "apiKey": [] }],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "description": "Comma-delimited list of fields. Allowed: Id, DOI, ID, Name, Latitude, Longitude, HorizontalCoordinateReferenceSystem, HorizontalAccuracyMeasure, HorizontalAccuracyUnit, VerticalMeasure, VerticalUnit, MonitoringLocationType, LatitudeNormalized, LongitudeNormalized, HorizontalCoordinateReferenceSystemNormalized. Default: Id, DOI, ID, Name, Latitude, Longitude, HorizontalCoordinateReferenceSystem, HorizontalAccuracyMeasure, HorizontalAccuracyUnit, VerticalMeasure, VerticalUnit, MonitoringLocationType.",
            "schema": { "type": "string" }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "OData filter expression. Filterable properties: DOI, LocationId, ActivityMediaName, ActivityGroupType, CharacteristicName, MonitoringLocationType, ActivityStartDateYear, ActivityStartYear, RegionId, Latitude, Longitude, LatitudeNormalized, LongitudeNormalized, Name. Operators: in, eq, lt, gt, lte, gte, ne, and.",
            "schema": { "type": "string" }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            }
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "description": "Return only the count of matching rows (an estimate for large counts).",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination, e.g. Id:1234. Use the Link header or @odata.nextLink from the previous response.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetLocations" }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid query (unknown $select/$filter field, malformed expression, or unencoded reserved characters such as $ in parameter names)"
          },
          "401": { "description": "Missing API key" },
          "403": { "description": "Invalid API key" },
          "408": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          },
          "413": {
            "description": "Response too large — lower $top or $select fewer fields"
          },
          "429": {
            "description": "Too many requests — rate limit yourself (2 req/s, no parallel requests)"
          },
          "504": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          }
        }
      }
    },
    "/Observations": {
      "get": {
        "operationId": "getObservations",
        "summary": "Query observations",
        "security": [{ "apiKey": [] }],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "description": "Comma-delimited list of fields. Allowed: Id, DOI, LocationId, CharacteristicName, ActivityType, ActivityMediaName, ActivityStartDate, ActivityStartTime, ActivityStartTimeZone, ActivityEndDate, ActivityEndTime, ActivityEndTimeZone, ActivityDepthHeightMeasure, ActivityDepthHeightUnit, SampleCollectionEquipmentName, MethodSpeciation, ResultSampleFraction, ResultValue, ResultUnit, ResultValueType, ResultDetectionCondition, ResultDetectionQuantitationLimitUnit, ResultDetectionQuantitationLimitMeasure, ResultDetectionQuantitationLimitType, ResultStatusID, ResultComment, ResultAnalyticalMethodID, ResultAnalyticalMethodContext, ResultAnalyticalMethodName, AnalysisStartDate, AnalysisStartTime, AnalysisStartTimeZone, LaboratoryName, LaboratorySampleID. Default: all allowed fields.",
            "schema": { "type": "string" }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "OData filter expression. Filterable properties: DOI, LocationId, ActivityMediaName, ActivityGroupType, CharacteristicName, MonitoringLocationType, ActivityStartDateYear, ActivityStartYear, RegionId. Operators: in, eq, lt, gt, lte, gte, ne, and.",
            "schema": { "type": "string" }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            }
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "description": "Return only the count of matching rows (an estimate for large counts).",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination, e.g. Id:1234. Use the Link header or @odata.nextLink from the previous response.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetObservations" }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid query (unknown $select/$filter field, malformed expression, or unencoded reserved characters such as $ in parameter names)"
          },
          "401": { "description": "Missing API key" },
          "403": { "description": "Invalid API key" },
          "408": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          },
          "413": {
            "description": "Response too large — lower $top or $select fewer fields"
          },
          "429": {
            "description": "Too many requests — rate limit yourself (2 req/s, no parallel requests)"
          },
          "504": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          }
        }
      }
    },
    "/Records": {
      "get": {
        "operationId": "getRecords",
        "summary": "Query records (CSV-oriented full rows)",
        "security": [{ "apiKey": [] }],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "description": "Comma-delimited list of fields. Allowed: Id, DOI, DatasetName, MonitoringLocationID, MonitoringLocationName, MonitoringLocationLatitude, MonitoringLocationLongitude, MonitoringLocationHorizontalCoordinateReferenceSystem, MonitoringLocationHorizontalAccuracyMeasure, MonitoringLocationHorizontalAccuracyUnit, MonitoringLocationVerticalMeasure, MonitoringLocationVerticalUnit, MonitoringLocationType, ActivityType, ActivityMediaName, ActivityStartDate, ActivityStartTime, ActivityStartTimeZone, ActivityEndDate, ActivityEndTime, ActivityEndTimeZone, ActivityDepthHeightMeasure, ActivityDepthHeightUnit, SampleCollectionEquipmentName, CharacteristicName, MethodSpeciation, ResultSampleFraction, ResultValue, ResultUnit, ResultValueType, ResultDetectionCondition, ResultDetectionQuantitationLimitMeasure, ResultDetectionQuantitationLimitUnit, ResultDetectionQuantitationLimitType, ResultStatusID, ResultComment, ResultAnalyticalMethodID, ResultAnalyticalMethodContext, ResultAnalyticalMethodName, AnalysisStartDate, AnalysisStartTime, AnalysisStartTimeZone, LaboratoryName, LaboratorySampleID. Default: all allowed fields.",
            "schema": { "type": "string" }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "OData filter expression. Filterable properties: DOI, LocationId, ActivityMediaName, ActivityGroupType, CharacteristicName, MonitoringLocationType, ActivityStartDateYear, ActivityStartYear, RegionId. Operators: in, eq, lt, gt, lte, gte, ne, and.",
            "schema": { "type": "string" }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            }
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "description": "Return only the count of matching rows (an estimate for large counts).",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination, e.g. Id:1234. Use the Link header or @odata.nextLink from the previous response.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetRecords" }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid query (unknown $select/$filter field, malformed expression, or unencoded reserved characters such as $ in parameter names)"
          },
          "401": { "description": "Missing API key" },
          "403": { "description": "Invalid API key" },
          "408": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          },
          "413": {
            "description": "Response too large — lower $top or $select fewer fields"
          },
          "429": {
            "description": "Too many requests — rate limit yourself (2 req/s, no parallel requests)"
          },
          "504": {
            "description": "Request timed out (30s) — retry once; if it persists, lower $top and/or add narrower filters"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": { "type": "apiKey", "in": "header", "name": "x-api-key" }
    },
    "schemas": {
      "GetMetadata": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "odata.nextLink": {
            "type": "string",
            "pattern": "^https://api\\.datastream\\.org/v1/odata/v4/(Metadata|Locations|Observations|Records)\\??[a-zA-Z0-9\\._%&-]*$",
            "maxLength": 256
          },
          "odata.count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Id": { "type": "string", "format": "uuid", "maxLength": 36 },
                "DOI": {
                  "title": "Digital Object Identifier (DOI)",
                  "type": "string",
                  "pattern": "^10\\.(25976|81029)/[a-z0-9]{4}-[a-z0-9]{2}[0-9]{2}$",
                  "minLength": 18,
                  "maxLength": 18
                },
                "Version": {
                  "type": "string",
                  "pattern": "^[0-9]+.[0-9]+.[0-9]+$",
                  "maxLength": 11
                },
                "DatasetName": { "type": "string" },
                "DataStewardEmail": { "type": "string" },
                "DataCollectionOrganization": { "type": "string" },
                "DataUploadOrganization": { "type": "string" },
                "ProgressCode": { "type": "string" },
                "MaintenanceFrequencyCode": { "type": "string" },
                "Abstract": { "type": "string" },
                "DataCollectionInformation": { "type": "string" },
                "DataProcessing": { "type": "string" },
                "FundingSources": { "type": "string" },
                "DataSourceURL": { "type": "string" },
                "OtherDataSources": { "type": "string" },
                "Citation": { "type": "string" },
                "Licence": { "type": "string" },
                "Disclaimer": { "type": "string" },
                "TopicCategoryCode": { "type": "string" },
                "Keywords": { "type": "string" },
                "CreateTimestamp": { "type": "string" },
                "PublishedTimestamp": { "type": "string" },
                "TemporalExtent": {
                  "type": "array",
                  "items": { "type": "string", "format": "date" },
                  "minItems": 2,
                  "maxItems": 2,
                  "nullable": true
                }
              }
            },
            "maxItems": 10000,
            "uniqueItems": true
          }
        }
      },
      "GetLocations": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "odata.nextLink": {
            "type": "string",
            "pattern": "^https://api\\.datastream\\.org/v1/odata/v4/(Metadata|Locations|Observations|Records)\\??[a-zA-Z0-9\\._%&-]*$",
            "maxLength": 256
          },
          "odata.count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Id": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "DOI": {
                  "title": "Digital Object Identifier (DOI)",
                  "type": "string",
                  "pattern": "^10\\.(25976|81029)/[a-z0-9]{4}-[a-z0-9]{2}[0-9]{2}$",
                  "minLength": 18,
                  "maxLength": 18
                },
                "ID": {
                  "minLength": 1,
                  "title": "Monitoring Location ID",
                  "description": "Valid Monitoring ID; required for most Activity Type Codes; Must correspond to Monitoring Locations already in WQX/STORET or entered in Monitoring Locations tab",
                  "type": "string",
                  "maxLength": 55,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "Name": {
                  "minLength": 1,
                  "title": "Monitoring Location Name",
                  "description": "A geographically descriptive name",
                  "type": "string",
                  "maxLength": 255,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "Latitude": {
                  "title": "Monitoring Location Latitude",
                  "description": "Latitude. Decimal 6-8 digits (i.e., 37)",
                  "type": "number",
                  "minimum": 0,
                  "maximum": 90
                },
                "Longitude": {
                  "title": "Monitoring Location Longitude",
                  "description": "Longitude. Decimal 6-9 digits (i.e., -74.75)",
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180
                },
                "HorizontalCoordinateReferenceSystem": {
                  "title": "Horizontal Reference Datum",
                  "description": "Controlled vocabulary (6 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 5
                },
                "HorizontalAccuracyMeasure": {
                  "title": "Activity Horizontal Accuracy Measure",
                  "description": "The horizontal measure indicating the relative accuracy of the latitude and longitude coordinates",
                  "type": "number",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "HorizontalAccuracyUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (2 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 2
                },
                "VerticalMeasure": {
                  "title": "Vertical Measure",
                  "description": "The measure of elevation (i.e., the altitude), above or below a reference datum.",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "VerticalUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (3 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 4
                },
                "MonitoringLocationType": {
                  "title": "Monitoring Location Type",
                  "description": "Controlled vocabulary (24 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 40
                },
                "LatitudeNormalized": {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90
                },
                "LongitudeNormalized": {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180
                },
                "HorizontalCoordinateReferenceSystemNormalized": {
                  "type": "string",
                  "enum": ["WGS84"]
                }
              }
            },
            "maxItems": 10000,
            "uniqueItems": true
          }
        }
      },
      "GetObservations": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "odata.nextLink": {
            "type": "string",
            "pattern": "^https://api\\.datastream\\.org/v1/odata/v4/(Metadata|Locations|Observations|Records)\\??[a-zA-Z0-9\\._%&-]*$",
            "maxLength": 256
          },
          "odata.count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Id": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "LocationId": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "DOI": {
                  "title": "Digital Object Identifier (DOI)",
                  "type": "string",
                  "pattern": "^10\\.(25976|81029)/[a-z0-9]{4}-[a-z0-9]{2}[0-9]{2}$",
                  "minLength": 18,
                  "maxLength": 18
                },
                "ActivityType": {
                  "title": "Activity Type",
                  "description": "Controlled vocabulary (35 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 70
                },
                "ActivityMediaName": {
                  "title": "Activity Media Subdivision",
                  "description": "Controlled vocabulary (8 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 45
                },
                "ActivityStartDate": {
                  "type": "string",
                  "format": "date",
                  "minLength": 10,
                  "maxLength": 10
                },
                "ActivityStartTime": {
                  "type": "string",
                  "pattern": "^(2[0-3]|[01][0-9]):[0-5][0-9](:[0-5][0-9](\\.[0-9]{1,3})?)?$",
                  "minLength": 5,
                  "maxLength": 12
                },
                "ActivityStartTimeZone": {
                  "type": "string",
                  "pattern": "^(Z|[+-](0[0-9]|1[0-9]|2[0-4]):[0-5][0-9])$",
                  "minLength": 1,
                  "maxLength": 6
                },
                "ActivityEndDate": {
                  "type": "string",
                  "format": "date",
                  "minLength": 10,
                  "maxLength": 10
                },
                "ActivityEndTime": {
                  "type": "string",
                  "pattern": "^(2[0-3]|[01][0-9]):[0-5][0-9](:[0-5][0-9](\\.[0-9]{1,3})?)?$",
                  "minLength": 5,
                  "maxLength": 12
                },
                "ActivityEndTimeZone": {
                  "type": "string",
                  "pattern": "^(Z|[+-](0[0-9]|1[0-9]|2[0-4]):[0-5][0-9])$",
                  "minLength": 1,
                  "maxLength": 6
                },
                "ActivityDepthHeightMeasure": {
                  "title": "Activity Depth/Height Measure",
                  "description": "The distance from the surface to the point in the water column at which the activity is conducted (depth or height measured from a reference point)",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ActivityDepthHeightUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (3 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 2
                },
                "SampleCollectionEquipmentName": {
                  "title": "Sample Collection Equipment",
                  "description": "Controlled vocabulary (49 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 40
                },
                "CharacteristicName": {
                  "title": "Characteristic",
                  "description": "Controlled vocabulary (1661 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 255
                },
                "MethodSpeciation": {
                  "title": "Method Speciation",
                  "description": "Controlled vocabulary (49 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 20
                },
                "ResultSampleFraction": {
                  "title": "Sample Fraction",
                  "description": "Controlled vocabulary (32 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 25
                },
                "ResultValue": {
                  "title": "Result Value",
                  "description": "Measured value of characteristic, required if Result Detection Condition Text is blank, No entry allowed if Result Detection Condition Text is populated.",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ResultUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (123 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 21
                },
                "ResultValueType": {
                  "title": "Result Value Type",
                  "description": "Controlled vocabulary (5 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 20
                },
                "ResultDetectionCondition": {
                  "title": "Result Detection Condition",
                  "description": "Controlled vocabulary (6 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 36
                },
                "ResultDetectionQuantitationLimitMeasure": {
                  "title": "Result Detection/Quantitation Limit Measure",
                  "description": "The reportable measure of the result for the chemical, microbiological or other characteristic being analyzed.  Required if Result Detection Condition is `Not Detected`, `Present Above Quantification Limit`, or `Present Below Quantification Limit`.",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ResultDetectionQuantitationLimitUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (123 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 21
                },
                "ResultDetectionQuantitationLimitType": {
                  "title": "Detection Quantitation Limit Type",
                  "description": "Controlled vocabulary (4 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 34
                },
                "ResultStatusID": {
                  "title": "Result Status",
                  "description": "Controlled vocabulary (6 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 11
                },
                "ResultComment": {
                  "title": "Result Comment",
                  "description": "Provided to allow for the entry of comments about result",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 4000,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} \\r\\n]+$"
                },
                "ResultAnalyticalMethodID": {
                  "title": "Result Analytical Method ID",
                  "description": "",
                  "maxLength": 50,
                  "type": "string",
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "ResultAnalyticalMethodContext": {
                  "title": "Analytical Method Context",
                  "description": "Controlled vocabulary (42 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 20
                },
                "ResultAnalyticalMethodName": {
                  "title": "Result Analytical Method Name",
                  "description": "Name of the analytical method",
                  "maxLength": 300,
                  "type": "string",
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "AnalysisStartDate": {
                  "type": "string",
                  "format": "date",
                  "minLength": 10,
                  "maxLength": 10
                },
                "AnalysisStartTime": {
                  "type": "string",
                  "pattern": "^(2[0-3]|[01][0-9]):[0-5][0-9](:[0-5][0-9](\\.[0-9]{1,3})?)?$",
                  "minLength": 5,
                  "maxLength": 12
                },
                "AnalysisStartTimeZone": {
                  "type": "string",
                  "pattern": "^(Z|[+-](0[0-9]|1[0-9]|2[0-4]):[0-5][0-9])$",
                  "minLength": 1,
                  "maxLength": 6
                },
                "LaboratoryName": {
                  "maxLength": 100,
                  "title": "Laboratory Name",
                  "description": "Name of Laboratory performing the analysis",
                  "type": "string",
                  "minLength": 0,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "LaboratorySampleID": {
                  "title": "Laboratory Sample ID",
                  "description": "Unique identifier for the lab sample",
                  "maxLength": 60,
                  "type": "string",
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                }
              }
            },
            "maxItems": 10000,
            "uniqueItems": true
          }
        }
      },
      "GetRecords": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "odata.nextLink": {
            "type": "string",
            "pattern": "^https://api\\.datastream\\.org/v1/odata/v4/(Metadata|Locations|Observations|Records)\\??[a-zA-Z0-9\\._%&-]*$",
            "maxLength": 256
          },
          "odata.count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "Id": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "DOI": {
                  "title": "Digital Object Identifier (DOI)",
                  "type": "string",
                  "pattern": "^10\\.(25976|81029)/[a-z0-9]{4}-[a-z0-9]{2}[0-9]{2}$",
                  "minLength": 18,
                  "maxLength": 18
                },
                "DatasetName": {
                  "minLength": 1,
                  "maxLength": 512,
                  "type": "string",
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "MonitoringLocationID": {
                  "minLength": 1,
                  "title": "Monitoring Location ID",
                  "description": "Valid Monitoring ID; required for most Activity Type Codes; Must correspond to Monitoring Locations already in WQX/STORET or entered in Monitoring Locations tab",
                  "type": "string",
                  "maxLength": 55,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "MonitoringLocationName": {
                  "minLength": 1,
                  "title": "Monitoring Location Name",
                  "description": "A geographically descriptive name",
                  "type": "string",
                  "maxLength": 255,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "MonitoringLocationLatitude": {
                  "title": "Monitoring Location Latitude",
                  "description": "Latitude. Decimal 6-8 digits (i.e., 37)",
                  "type": "number",
                  "minimum": 0,
                  "maximum": 90
                },
                "MonitoringLocationLongitude": {
                  "title": "Monitoring Location Longitude",
                  "description": "Longitude. Decimal 6-9 digits (i.e., -74.75)",
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180
                },
                "MonitoringLocationHorizontalCoordinateReferenceSystem": {
                  "title": "Horizontal Reference Datum",
                  "description": "Controlled vocabulary (6 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 5
                },
                "MonitoringLocationHorizontalAccuracyMeasure": {
                  "title": "Activity Horizontal Accuracy Measure",
                  "description": "The horizontal measure indicating the relative accuracy of the latitude and longitude coordinates",
                  "type": "number",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "MonitoringLocationHorizontalAccuracyUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (2 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 2
                },
                "MonitoringLocationVerticalMeasure": {
                  "title": "Vertical Measure",
                  "description": "The measure of elevation (i.e., the altitude), above or below a reference datum.",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "MonitoringLocationVerticalUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (3 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 4
                },
                "MonitoringLocationType": {
                  "title": "Monitoring Location Type",
                  "description": "Controlled vocabulary (24 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 40
                },
                "ActivityType": {
                  "title": "Activity Type",
                  "description": "Controlled vocabulary (35 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 70
                },
                "ActivityMediaName": {
                  "title": "Activity Media Subdivision",
                  "description": "Controlled vocabulary (8 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 45
                },
                "ActivityStartDate": {
                  "type": "string",
                  "format": "date",
                  "minLength": 10,
                  "maxLength": 10
                },
                "ActivityStartTime": {
                  "type": "string",
                  "pattern": "^(2[0-3]|[01][0-9]):[0-5][0-9](:[0-5][0-9](\\.[0-9]{1,3})?)?$",
                  "minLength": 5,
                  "maxLength": 12
                },
                "ActivityStartTimeZone": {
                  "type": "string",
                  "pattern": "^(Z|[+-](0[0-9]|1[0-9]|2[0-4]):[0-5][0-9])$",
                  "minLength": 1,
                  "maxLength": 6
                },
                "ActivityEndDate": {
                  "type": "string",
                  "format": "date",
                  "minLength": 10,
                  "maxLength": 10
                },
                "ActivityEndTime": {
                  "type": "string",
                  "pattern": "^(2[0-3]|[01][0-9]):[0-5][0-9](:[0-5][0-9](\\.[0-9]{1,3})?)?$",
                  "minLength": 5,
                  "maxLength": 12
                },
                "ActivityEndTimeZone": {
                  "type": "string",
                  "pattern": "^(Z|[+-](0[0-9]|1[0-9]|2[0-4]):[0-5][0-9])$",
                  "minLength": 1,
                  "maxLength": 6
                },
                "ActivityDepthHeightMeasure": {
                  "title": "Activity Depth/Height Measure",
                  "description": "The distance from the surface to the point in the water column at which the activity is conducted (depth or height measured from a reference point)",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ActivityDepthHeightUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (3 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 2
                },
                "SampleCollectionEquipmentName": {
                  "title": "Sample Collection Equipment",
                  "description": "Controlled vocabulary (49 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 40
                },
                "CharacteristicName": {
                  "title": "Characteristic",
                  "description": "Controlled vocabulary (1661 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 255
                },
                "MethodSpeciation": {
                  "title": "Method Speciation",
                  "description": "Controlled vocabulary (49 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 20
                },
                "ResultSampleFraction": {
                  "title": "Sample Fraction",
                  "description": "Controlled vocabulary (32 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 25
                },
                "ResultValue": {
                  "title": "Result Value",
                  "description": "Measured value of characteristic, required if Result Detection Condition Text is blank, No entry allowed if Result Detection Condition Text is populated.",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ResultUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (123 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 21
                },
                "ResultValueType": {
                  "title": "Result Value Type",
                  "description": "Controlled vocabulary (5 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 20
                },
                "ResultDetectionCondition": {
                  "title": "Result Detection Condition",
                  "description": "Controlled vocabulary (6 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 36
                },
                "ResultDetectionQuantitationLimitMeasure": {
                  "title": "Result Detection/Quantitation Limit Measure",
                  "description": "The reportable measure of the result for the chemical, microbiological or other characteristic being analyzed.  Required if Result Detection Condition is `Not Detected`, `Present Above Quantification Limit`, or `Present Below Quantification Limit`.",
                  "type": "number",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ResultDetectionQuantitationLimitUnit": {
                  "title": "Measurement Unit",
                  "description": "Controlled vocabulary (123 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 21
                },
                "ResultDetectionQuantitationLimitType": {
                  "title": "Detection Quantitation Limit Type",
                  "description": "Controlled vocabulary (4 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 34
                },
                "ResultStatusID": {
                  "title": "Result Status",
                  "description": "Controlled vocabulary (6 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 11
                },
                "ResultComment": {
                  "title": "Result Comment",
                  "description": "Provided to allow for the entry of comments about result",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 4000,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} \\r\\n]+$"
                },
                "ResultAnalyticalMethodID": {
                  "title": "Result Analytical Method ID",
                  "description": "",
                  "maxLength": 50,
                  "type": "string",
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "ResultAnalyticalMethodContext": {
                  "title": "Analytical Method Context",
                  "description": "Controlled vocabulary (42 values at generation time); maintained in @datastreamapp/data-schema and changes with schema updates.",
                  "type": "string",
                  "maxLength": 20
                },
                "ResultAnalyticalMethodName": {
                  "title": "Result Analytical Method Name",
                  "description": "Name of the analytical method",
                  "maxLength": 300,
                  "type": "string",
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "AnalysisStartDate": {
                  "type": "string",
                  "format": "date",
                  "minLength": 10,
                  "maxLength": 10
                },
                "AnalysisStartTime": {
                  "type": "string",
                  "pattern": "^(2[0-3]|[01][0-9]):[0-5][0-9](:[0-5][0-9](\\.[0-9]{1,3})?)?$",
                  "minLength": 5,
                  "maxLength": 12
                },
                "AnalysisStartTimeZone": {
                  "type": "string",
                  "pattern": "^(Z|[+-](0[0-9]|1[0-9]|2[0-4]):[0-5][0-9])$",
                  "minLength": 1,
                  "maxLength": 6
                },
                "LaboratoryName": {
                  "maxLength": 100,
                  "title": "Laboratory Name",
                  "description": "Name of Laboratory performing the analysis",
                  "type": "string",
                  "minLength": 0,
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                },
                "LaboratorySampleID": {
                  "title": "Laboratory Sample ID",
                  "description": "Unique identifier for the lab sample",
                  "maxLength": 60,
                  "type": "string",
                  "pattern": "^[\\p{L}\\p{N}\\p{P}\\p{M}\\p{S} ]+$"
                }
              }
            },
            "maxItems": 10000,
            "uniqueItems": true
          }
        }
      }
    }
  }
}
